<div>

    <p appChangefontfamily>Welcome to Contact Application</p>
    <p appChangefontfamily> Main purpose of this app is doing a CRUD operation with
        adding, editing, listing, and deleting of user data with some styling.</p>
    <p appChangefontfamily>
        will be using nodejs, sequelize in the backend and Angular 9 in frontend
    </p>
    <!-- <app-homechild (childDataOutPut)="recieveDataFromChild($event)" 
    [GreetMessage]="GreetMessage" 
    [message]="message"
    [toChildData]="toChildData"
    >
    </app-homechild>
   
    <h2>The following is coming from event emitter</h2>
    {{fromChildData}}

    <h2>Send data to child</h2>
    <button (click)="sendDataToChild()"> Send data to child</button>

    <h2>The following data is coming through a obervable</h2>
    {{subjectValue | async | json}}  -->

    <h4>The following token is coming as a behavioral subscription from a service</h4>
    <label>Token : {{authenticatedUserDetails | async | json}}</label>

    <h2> Click the button to invoke behaviural subject to get latest details</h2>
    <button (click)="fetchLatestDetails()"> Call behavoural subject</button>
    {{contactDetailsObs | async | json}}
</div>