<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <ul *ngIf="isAuthenticated">
    <li><a class="active" href="/home">Home</a></li>
    <li><a href="/addContact">Add User</a></li>
    <li><a href="/listContact">List Users</a></li>
    <li class="dropdown right">
      <a href="javascript:void(0)" class="dropbtn">{{userDetails.userName}}</a>
      <div class="dropdown-content">
        <a href="javascript:void(0)">Profile</a>
        <a href="javascript:void(0)">Reset Password</a>
        <a href="#" (click)="logout($event)">Logout</a>
      </div>
    </li>
  </ul>

  <div *ngIf="isAuthenticated" class="footer">
    <span class="footnote">All rights reserved Muneeb Mukhtar @2020</span>
    <!--Async oberervable pipe to show the time asyncronoulsy-->
    <app-asyncobervabletime></app-asyncobervabletime>
  </div>
</body>

</html>
<app-loader></app-loader>
<router-outlet></router-outlet>