<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <ul *ngIf="isAuthenticatedObs | async">
    <li><a class="active" [routerLink]="['/home']">Home</a></li>
    <li><a [routerLink]="['/addContact']">Add User</a></li>
    <li><a [routerLink]="['/listContact']">List Users</a></li>
    <li class="dropdown right">
      <a href="javascript:void(0)" class="dropbtn">{{userDetails.userName}}</a>
      <div class="dropdown-content">
        <a href="javascript:void(0)">Profile</a>
        <a [routerLink]="['/resetPassword']">Reset Password</a>
        <a href="#" (click)="logout($event)">Logout</a>
      </div>
    </li>
  </ul>
  <div *ngIf="isAuthenticatedObs | async" class="footer">
    <span class="footnote">All rights reserved Muneeb Mukhtar @2020</span>
    <!--Async oberervable pipe to show the time asyncronoulsy-->
    <app-asyncobervabletime></app-asyncobervabletime>
  </div>
</body>

</html>
<h4>The following token is coming as a behavioral subscription from a service</h4>
<label>Token : {{authenticatedUserDetails | async | json}}</label>


<app-loader></app-loader>
<router-outlet></router-outlet>